body {
  margin: 0;
  padding: 0;
}
form {
  width: 350px;
  margin: 0 auto;
}
#showDetails {
  display: none;
}
#spinnner {
  display: none;
  width: 150px;
  margin: 0 auto;
}
#notFounded {
  display: none;
}
.results {
  display: none;
}
